<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flip Card</title>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>
  <body> 
    <header>
      <div class="language-picker">
        <span>🇬🇧</span> 
      </div>
      <div class="login-container">
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
      </div>
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{ message.tag }}">{{ message }}</div>
        {% endfor%}
      {% endif %}
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
  </body>
</html>
