{% extends "base.html" %}

{% block content %}
<div id="container">
  <div id="new-review-nav">
    <a
      id="tab-new"
      class="nav-selected"
      href="javascript: void(0)"
    >
      Catalog
    </a>
    <a
      id="tab-review"
      class="nav-not-selected"
      href="/cards/review"
    >
      Review
    </a>
  </div>

  {% include "card.html" %}

  <form id="stack-buttons-form" action="/cards/{{card.id}}/learn" method="post">
    {% csrf_token %}
    <input
      id="button-learn"
      type="submit"
      class="button"
      value="Learn"
      style="flex:70">
    <a id="button-next" href="/cards/new" class="button">>></a>
  </form>
</div>
{% endblock %}
